name: Update UniStore and pages

on:
  push:
    branches: [ master ]
    paths: [ 
      generate.py,
      bannergif.py,
      "_nds/TWiLightMenu/*menu/themes/**",
      "_nds/TWiLightMenu/unlaunch/backgrounds/**",
      "_nds/TWiLightMenu/unlaunch/extras/fonts/**",
      "_nds/TWiLightMenu/icons/**",
      .github/workflows/update.yml
      ]
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v6
      with:
        python-version: '3.9'
        cache: 'pip' # caching pip dependencies
    - run: pip install -r requirements.txt

    - name: Build tex3ds
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install -y libmagick++-dev automake libfftw3-dev
        git clone https://github.com/devkitPro/tex3ds --depth 1 -b v2.3.0
        cd tex3ds
        ./autogen.sh
        mkdir build
        cd build
        ../configure
        make -j$(nproc)
        sudo make install
        cd ../../
        rm -rf tex3ds

    - name: Workaround Git issue by chowning the repo
      run: |
        # when will github fix this
        chown -R $(id -u):$(id -g) $PWD

    - name: Delete old pages
      run: rm -rf docs/_nintendo-3ds/* docs/_nintendo-dsi/* docs/_r4-original/* docs/_wood-ui/* docs/_unlaunch/* docs/_font/* docs/_icon/* docs/nintendo-3ds/category/* docs/nintendo-dsi/category/* docs/r4-original/category/* docs/wood-ui/category/* docs/unlaunch/category/* docs/font/category/* docs/icon/category/*

    - name: Run generate.py
      run: |
        python3 generate.py ${{ secrets.GITHUB_TOKEN }}

    - name: Push changes
      uses: github-actions-x/commit@v2.9
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        push-branch: 'master'
        commit-message: 'Update UniStore and pages'
        force-add: 'false'
        files: '*'
        name: TWLBot
        email: flamekat54@aol.com 
